<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Агенство_недвижимостиEntities" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities1" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities2" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities3" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities4" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities5" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities6" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities7" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities8" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities9" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities10" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities11" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities12" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities13" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Агенство_недвижимостиEntities14" connectionString="metadata=res://*/ModelTutorial.csdl|res://*/ModelTutorial.ssdl|res://*/ModelTutorial.msl;provider=System.Data.SqlClient;provider connection string='data source=JULIA\SQLEXPRESS;initial catalog=&quot;Агенство недвижимости&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>